:root {
  --primary: #508CA4;
  --secondary: #26A96C;
  --info: #e9b44c;
  --light: #e8f1f2;
  --dark: #333333;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

#about-me{
  position: relative;
}

#profile-card{
  width: 20rem;
 border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#links-card {
  position: absolute;
  width: 12rem;
  top: 1px;
  left: 21rem;
}

#profile-card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  }

p.card-text {
  border-top: 1px solid grey;
  padding-top: 1rem;
}

.round {
   border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
a {
  
  text-decoration: none;
  color: var(--dark);
}

a:hover{
    color: var(--primary);
    text-decoration: none;
}

a.icon-link{
  transition: width 0.25s linear;
  display: inline-flex;
  font-size: 2rem;
  width: 3rem;
  max-width: max-content;
  overflow: hidden;
  word-wrap: normal;
  align-items: center;
  padding: 1rem;
}

a.icon-link:hover{
  transition: width .4s linear;
  width: 100%;
  max-width: max-content;
}

.icon-link span.inner-text{
  font-size: 20px;
  vertical-align: bottom;
  white-space: nowrap;
}

.bg-main {
  background-color: var(--light);
}